<div style="background-color:#FFFFFF;height:100px;width:350px;position:absolute;top:5%;left:2%; border-radius: 50px;display: flex;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
	<img src="images/LogoWumpus.png" alt="Logo Game" height="100%" >
	<div style="background-color:#FFFFFF00;text-align: center;line-height: 100px;padding-left:10px">
		<h2 class="text" style="vertical-align: middle;">Wumpus Online Game</h2>
	</div>
</div>

<div style="background-color:#FFFFFF;height:70%;width:30%;position:absolute;top:20%;right:10%; border-radius: 10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >

	<div style="background-color:#fff32100;text-align: center;height:10%;display:flex;">
		<button id="btnLogin" class="btnLoginTogleActive" style="border-top-left-radius:10px;border-bottom-right-radius:10px;"><h2 style="vertical-align: middle;font-family:'Roboto'">Login</h2></button>
		<button id="btnRegis" class="btnLoginTogle" style="border-top-right-radius:10px;border-bottom-left-radius:10px;"><h2 style="vertical-align: middle;font-family:'Roboto'">Register</h2></button>
	</div>
	<div style="background-color:#ffffff00;text-align: center;height:90%;display:flex;">
		<div id="loginTab" style="background-color:#ffffff00;height:100%;width:100%;padding-top:25%;">
			<label class="text" style="color:#636363;">Username</label><br>
			<input class="text textFieldInput" id="usernameInputLogin" type='text' placeholder="Username" style="margin-bottom:10%;"/><br>
			<label class="text" style="color:#636363;">Password</label><br>
			<input class="text textFieldInput" id="passwordInputLogin" type='password' placeholder="Password" style="margin-bottom:10%;"/><br>
			<button id="btnLoginPlayer" class="btnLoginAndRegister">Login</button>
		</div>
		<div id="registerTab" style="background-color:#ffffff00;height:100%;width:100%;display:none;padding-top : 13%;">
			<label class="text" style="color:#636363;">Username</label><br>
			<input class="text textFieldInput" id="usernameInputRegister" type='text' placeholder="Username" style="margin-bottom:5%;"/><br>
			<label class="text" style="color:#636363;">Password</label><br>
			<input class="text textFieldInput" id="passwordInputRegister" type='password' placeholder="Password" style="margin-bottom:5%;"/><br>
			<label class="text" style="color:#636363;">Confirm Password</label><br>
			<input class="text textFieldInput" id="confirmpasswordInputRegister" type='password' placeholder="Confirm Password" style="margin-bottom:5%;"/><br>
			<label class="text" style="color:#636363;">Email</label><br>
			<input class="text textFieldInput" id="emailInputRegister" type='email' placeholder="Email" style="margin-bottom:10%;"/><br>
			<button id="btnRegisterPlayer" class="btnLoginAndRegister">Register</button>
		</div>
		
		<div id="loadingTab" style="background-color:#ffffff;height:100%;width:100%;display:none;padding-top:37%;">
			<div class="loaderBg" style="margin:auto;">
				<div class="loader" style="margin:auto;"></div>
			</div>
		</div>
		
	</div>
</div>
<div style="background-color:#F2F2F2;border-radius:25px;height:20%;width:30%;position:absolute;bottom:25%;left:10%;" >
	<div style="width:90%;height:20%;margin:auto;">
		<h1 class="text" style="color:#2F4F4F;">Wumpus Online Game</h1>
	</div>
	
	<div class="titleInfoDescription" style="overflow: scroll;width:90%;height:60%;margin:auto;margin-top:5%;">
		<p style="color:#2F4F4F;">
			Permainan yang melatih daya ingat, logika dan kerja sama tim , untuk mengumpulkan emas dalam map yang telah diserdiakan dan bertarung melawan monster dan musuh
			yang ada di hadapan-mu nanti.
			<br>
			<br>
			<br>
			Bekerjasama-lah dan bentuk tim untuk memenangkan permainan hajar musuh musuh yang ada di hadapanmu buatlah rencana langkah terbaik untuk memenangkan permainan.
			<br>
			<br>
			<br>
		</p>
	</div>
</div>


<div class="popUp-modal">
    <div class="popUp-modal-content">
        <span class="popUp-close-button" onclick="closePopUpMessage()">×</span>
        <h1 id="tittle-popUp-model">Pop Up</h1>
      	<p id="message-popUp-model" style="font-size: large;color:#2F4F4F;margin-top:10px;margin-bottom:10px;">
			Permainan yang melatih daya ingat, logika dan kerja sama tim , untuk mengumpulkan emas dalam map yang telah diserdiakan dan bertarung melawan monster dan musuh
			yang ada di hadapan-mu nanti.
		</p>
    </div>
</div>
<div id="toast">Some text some message..</div>
<script>
	var loadingInProgress = false;
	var tabRegist = false;
	$(document).ready(function(){
		account = {userName :"" , token:""};
		saveAccount();
		$(".btnLoginTogle").click(()=>{ if(!tabRegist && !loadingInProgress){ swap();}});
		$(".btnLoginTogleActive").click(()=>{ if(tabRegist && !loadingInProgress){ swap();}});
		$("#btnLoginPlayer").click(()=>loginUser());
		$("#btnRegisterPlayer").click(()=>registerUser());
		
		
		
	});
	function swap(){
		tabRegist = !tabRegist;
		let off = $(".btnLoginTogle")
		let on = $(".btnLoginTogleActive")
		
		off[0].setAttribute('class', 'btnLoginTogleActive');
		on[0].setAttribute('class', 'btnLoginTogle');
		if(tabRegist){
			
			$('#loginTab').hide();
			$('#registerTab').show();
		}else{
			
			$('#loginTab').show();
			$('#registerTab').hide();
		}
	}
	function loginUser(){
		let username = $("#usernameInputLogin").val();
		let pass = $("#passwordInputLogin").val();
		let validInput = ( username != "" && pass != "")
		if(  !validInput ){
			showToastMessage("Username or password is empty" , 2000)
			return;
		}
		let data = {
			username : username,
			token : "",
			pass : pass
		}
		$.post("https://cinemakuy.herokuapp.com/wumpus/login",data,(response)=>{
			console.log(response);
			
			if(response.isSuccess){
				//move to lobby here
				account.userName = response.data.username;
				account.token = response.data.token;
				state.userName = response.data.username;
				state.currentTim = response.data.game.tim;
				state.currentGameRoom = response.data.game.gameRoom;
				state.currentState = response.data.game.state;
				saveAccount();
				saveState();
				rollBack();
			}else{
				loadingLoginRegistFinish();
				showPopUpMessage( "Login Gagal", response.message)
			}
			
		} );
		loadingInProgress = true;
		$('#loginTab').hide();
		$('#registerTab').hide();
		$('#loadingTab').show();
		$("#btnLoginPlayer").attr("disabled", loadingInProgress);
		$("#btnRegisterPlayer").attr("disabled", loadingInProgress);
	}
	function registerUser(){
		let username = $("#usernameInputRegister").val();
		let pass = $("#passwordInputRegister").val();
		let email = $("#emailInputRegister").val();
		let cpass = $("#confirmpasswordInputRegister").val();
		if(pass.length < 6){
			showToastMessage("Password min 6 word" , 2000)
			return;
		}else if(pass != cpass){
			showToastMessage("Password dan Confirm Password doesnt match" , 2000)
			return;
		}else if(username.length < 4){
			showToastMessage("Username min 4 word" , 2000)
			return;
		}else if(!email.includes('@')){
			showToastMessage("Email not valid" , 2000)
			return;
		}
		
		let data = {
			username : username,
			email : email,
			pass : pass
		}
		$.post("https://cinemakuy.herokuapp.com/wumpus/register",data,(response)=>{
			console.log(response);
			loadingLoginRegistFinish();
			if(response.isSuccess){
				//move to lobby here
				showPopUpMessage( "Berhasil", response.message)
			}else{
				showPopUpMessage( "Gagal", response.message)
			}
			
		} );
	
		loadingInProgress = true;
		$('#loginTab').hide();
		$('#registerTab').hide();
		$('#loadingTab').show();
		$("#btnLoginPlayer").attr("disabled", loadingInProgress);
		$("#btnRegisterPlayer").attr("disabled", loadingInProgress);
	}
	function loadingLoginRegistFinish(){
		loadingInProgress = false;
		$('#loadingTab').hide();
		if(tabRegist){
			$('#registerTab').show();
		}else{
			$('#loginTab').show();
		}
		$("#btnLoginPlayer").attr("disabled", loadingInProgress);
		$("#btnRegisterPlayer").attr("disabled", loadingInProgress);
	}
</script>
