.element-list-member{
	height:50px;
	padding-top:15px;
	width:100%;
	background-color:#00FF1200;
	display:flex;
	transition: 0.3s;
}
.element-list-member:hover{
	background-color:#F5F5F5;
	transition: 0.3s;
}

.statusPlayerPrepare{
	border-radius:8px;
	margin-left:20%;
	height:20px;
	color:white;
	border:0;
}
.playerMaster {
	background-color:#502ACD;
}
.playerReady {
	background-color:#576EDB;
}
.playerPreparing {
	background-color:#FF4941;
}

.btnKickPlayer{
	background-color:#502ACD;
	height:30px; 
	width:30px;
	color:white;
	border:0;
	outline:none;
}
.btnKickPlayer:hover{
	background-color:#300AAD;
}
.btnKickPlayer:active{
	background-color:#10008D;
}


.btnReadyRoom{
	content: '';
	background-color:#502ACD;
	height:30px; 
	width:30px;
	color:white;
	border:0;
	outline:none;
	transition: 0.5s;
}
.btnReadyRoom span{
	cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btnReadyRoom span:after {
  content: '\1F3AD';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -10px;
  transition: 0.5s;
}
.btnReadyRoom:hover span{
	padding-left: 25px;
}
.btnReadyRoom:hover span:after {
  opacity: 1;
  left: 0;
}
.btnReadyRoom:active{
	background-color:#10008D;
}




.btnLeaveRoom{
	content: '';
	background-color:#FF123F;
	height:30px; 
	width:30px;
	color:white;
	border:0;
	outline:none;
	transition: 0.5s;
}
.btnLeaveRoom span{
	cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btnLeaveRoom span:after {
  content: '\25C4';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -10px;
  transition: 0.5s;
}
.btnLeaveRoom:hover span{
	padding-left: 25px;
}
.btnLeaveRoom:hover span:after {
  opacity: 1;
  left: 0;
}
.btnLeaveRoom:active{
	background-color:#CF000F;
}



